* {
  margin: 0px;
  padding: 0px;
    border: 0px;
  }

.App {
  text-align: center;
}

.trainerItemContainer {
  border: 1px solid rgb(96, 214, 141);
  width: 430px;
  height: 150px;
  text-align: center;
  margin-top: 3rem;
  margin-left: 6rem;
  background: rgba(42, 49, 50, 0.8);
  color: rgb(136, 91, 24);
  font-weight: bold;
}

.trainerItemContainer:hover {
  cursor: pointer;
  background: rgb(10, 10, 10, .8);
  font-size: 20px;
  transition: ease-in-out .3s;
}


 body {
  border: 1px solid red;
  height: 100%;
  margin: 0;
  background-image: url(https://cutewallpaper.org/21/workout-backgrounds/Sport-concept-background.-equipment-for-workout.-Photo-.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
}

.trainerEmail {
  color: rgb(136, 91, 24);
}

.mainHeader {
  text-align: center;
  color: rgb(136, 91, 24);
  text-decoration: underline;
  font-size: 4rem;
}

.workoutImg1 {

  height: 950px;
  width: 800px;
  float: right;
  margin-right: 320px;
  padding-top: 35px;
  margin-top: 3rem;
}

html { 
  background: url(https://cutewallpaper.org/21/workout-backgrounds/Sport-concept-background.-equipment-for-workout.-Photo-.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.trainersContainer {
  
  width: 600px;
  height: 1000px;
  margin-left: 150px;
}

.mainPageContainer {
  display: grid;
  height: 100%;
  /* background-image: url(https://cutewallpaper.org/21/workout-backgrounds/Sport-concept-background.-equipment-for-workout.-Photo-.jpg); */
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
}

.catagoriesItem:hover {
  cursor: pointer;
  opacity: .8;
}

.catagoriesItem {
  color: rgb(136, 91, 24);
}

.catagoriesContainer {
  height: 100%;
  border: 1px solid red;
  width: 200px;
  margin-left: 0rem;
  background-image: url(https://cutewallpaper.org/21/workout-backgrounds/Sport-concept-background.-equipment-for-workout.-Photo-.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed;
}

.secondaryHeader {
  text-align: center;
  text-decoration: bold;
  color:rgba(42, 49, 50, 0.8);
  padding-top: 2rem;
  padding-bottom: 20rem;
}

